JWT_SECRET=your_jwt_secret_key
DATABASE_USERNAME=your_database_username
DATABASE_PASSWORD=your_database_password

# Without Docker --> DATABASE_URL=jdbc:postgresql://localhost:5432/your_database_name
# With Docker --> DATABASE_URL=jdbc:postgresql://pokemon-database:5432/my_pokemon_team

# Without Docker --> BACKEND_URL=http://localhost:8080
# With Docker --> BACKEND_URL=http://pokemon-backend:8080
